/* Red border for invalid form controls */
.border-red-500 {
  border-color: red !important;
}

/* Optional: Add a red text color for error messages */
input.ng-invalid.ng-touched {
  border-color: red;
}

button:disabled {
  opacity: 0.5;
}
