
<style >
  table,tr,th,td{
      border: 2px solid rgb(245, 242, 242);
  }
  .height123{
    height: 80vh;
  }
 
</style>
  <!-- <ul class="flex  w-6/12">
      <li>
          <a href="javascript:;" class="text-secondary hover:underline text-2xl">Receiving From Other Branch</a>
      </li>
    
    
  </ul>
  <ul class="w-6/12 flex items-center justify-end">
      <li>
          <a href="javascript:;" class="text-secondary hover:underline text-2xl">Receiving From Other Branch</a>
      </li>
    
    <div>
  </ul> -->
  <div class="height123"> 
  <form [formGroup]="valForm" class="form-validate mb-3" role="form" name="registerForm" novalidate="">
  <div class="flex">
      <div class="lg:w-6/12  sm:w-full">
          <a href="javascript:;" class="text-secondary hover:underline text-xl">Dispatch</a>        </div>
      <div class="lg:w-4/12 flex  justify-end mx-3 align-center sm:w-8/12">
          <a href="javascript:;" class="text-secondary hover:underline text-xl">Receiving Date</a>        </div>
      <div class="lg:w-2/12 sm:w-4/12">
          <input type="date" class="form-input h-[35px] py-0 text-center font-bold " formControlName="booking_date"> 
      </div>
  </div>
 <!-- <div class="panel flex mt-3  gap-3">
      <div class="lg:w-6/12 sm:w-full ">
          
              <div>
                  <label for="gridState" class="required">Loading Place (Source Branch)</label>
                  <select id="gridState"
                      class="form-select text-white-dark h-[30px] py-0 text-center font-bold ">
                      <option>Choose...</option>
                      <option>...</option>
                  </select>
              </div>
              <div>
                  <label for="" class="required">Vehicle No
                  </label>
                  <div class="flex">
                     
                      <input id="iconRight" type="text" placeholder="ID Number"
                          class="form-input rounded lg:h-[30px] text-center font-bold" />
                    
                  </div>
              </div>
          
      </div>
      <div class="lg:w-6/12  sm:w-full ">
  
              <div>
                  <label for="" class="required">Vehicle No
                  </label>
                  <div class="flex">
                     
                      <input id="iconRight" type="text" placeholder="ID Number"
                          class="form-input rounded lg:h-[30px] text-center font-bold" />
                    
                  </div>
              </div>
              <div>
                  <label for="" class="required">Vehicle No
                  </label>
                  <div class="flex">
                     
                      <input id="iconRight" type="text" placeholder="ID Number"
                          class="form-input rounded lg:h-[30px] text-center font-bold" />
                    
                  </div>
              </div>
          
      </div>
      <div class="flex">
          <div class="lg:w-4/12">
              <button type="button" class="btn btn-success ">Success</button>
  
          </div>
      </div>
     
 </div> -->

<div class="panel shadow-[4px_6px_10px_-3px_#bfc9d4] mt-3.5 p-2.5">
  <div class="flex gap-2 ">
      <div class="w-6/12">
        <div class="flex flex-col">
            
              <label for="gridState" class="required">Destination Country</label>
           
            
              <select id="gridState"
              class="form-select text-white-dark h-[30px] py-0 text-center font-bold " formControlName="country" #SHM
              (keydown.enter)="DES.focus()" (change)="getDestination(valForm.value);getdesAgent(valForm.value)" >
              <option value="">Select-Type</option>
              <option *ngFor="let country2 of country" value="{{country2.country_code}}">{{country2.country_name}}
              </option>
               </select>
            
        </div>
        <div class="flex flex-col">
          <label for="gridState" class="required" [ngStyle]="{'color': valForm.controls['destination'].hasError('required') && (valForm.controls['destination'].dirty || valForm.controls['destination'].touched)? 'red' : ''}">Destination Port </label>
           
            
          <select id="gridState"
              class="form-select text-white-dark h-[30px] py-0 text-center font-bold " formControlName="destination" (keydown.enter)="SHM1.focus()"
              #DES
              [ngStyle]="{'border-color': valForm.controls['destination'].hasError('required') && (valForm.controls['destination'].dirty || valForm.controls['destination'].touched)? 'red' : ''}">
              <option value="">Select-Type</option>
              <option *ngFor="let list of DestinationList" value="{{list.point_id}}">
                {{list.custom_point_name}}</option>
            </select>

        </div>
        
  
      </div>
     
      <div class="w-6/12">
          <div class="flex flex-col">
            
              <label for="gridState" class="required" [ngStyle]="{'color': valForm.controls['Shipment_mode'].hasError('required') && (valForm.controls['Shipment_mode'].dirty || valForm.controls['Shipment_mode'].touched)? 'red' : ''}">Shipment Mode</label>
           
              <select class="form-select form-select-sm text-center" formControlName="Shipment_mode" #SHM1
              (keydown.enter)="DHC1.focus()"  (change)="getshipmentCompany(valForm.value)"
              [ngStyle]="{'border-color': valForm.controls['Shipment_mode'].hasError('required') && (valForm.controls['Shipment_mode'].dirty || valForm.controls['Shipment_mode'].touched)? 'red' : ''}">
              <option value="" >Select-Type</option>
              <option *ngFor="let list of S_mode_List" value="{{list.transit_type_id}}">
                {{list.transit_type_name}}</option>
            </select>

            
        </div>
        <div class="flex flex-col">
          <label for="gridState" class="required">Air/Shipping Mode</label>
           
            
          <select id="gridState"
          class="form-select text-white-dark h-[30px] py-0 text-center font-bold " #DHC1 (keydown.enter)="submitForm($event, valForm.value)"
          formControlName="Shipment_company" 
          [ngStyle]="{'border-color': valForm.controls['Shipment_company'].hasError('required') && (valForm.controls['Shipment_company'].dirty || valForm.controls['Shipment_company'].touched)? 'red' : ''}">
  <option value="" >Select-Type</option>
  <option *ngFor="let list of S_company_List" value="{{list.s_company_name}}">
    {{list.s_company_name}}</option>
</select>
        </div>
       
      </div>
     </div>
  
     <div class="flex flex-col lg:flex-row mt-3.5"> 
      <div class="lg:w-4/12 flex justify-center lg:justify-start "> 
          <button class="btn btn-primary btn-sm " (click)="getStockDetailsgodown_b_to_b1();getStockDetailsgodown_b_to_b_detailss();modal10.open()">STOCK</button>

          <button class="btn btn-primary btn-sm mx-2" (click)="modal6.open();getstock_B_To_B()">To Be Received</button>
      </div>
      <div class="lg:w-8/12 flex justify-center lg:justify-start">
          <button class="btn btn-primary btn-sm mx-2" type="button"   (click)="submitForm($event, valForm.value)"
          [ngClass]="{'bnt-hide': btn !=='1'}" [disabled]="btn !=='1'">
          <span *ngIf="Save_spin !=='1'">Save</span>
          <span *ngIf="Save_spin !=='2'">Loading...</span>
        </button>            <button class="btn btn-primary btn-sm " type="button" [ngClass]="{'bnt-hide': btn !=='2'}" [disabled]="btn !=='2'"
          (click)="update(valForm.value)">
          <span *ngIf="update_spin !=='1'">Update</span>
          <span *ngIf="update_spin !=='2'">Loading...</span></button>
          <button class="btn btn-primary btn-sm mx-2" (click)="reset()">Reset</button>
          <button class="btn btn-primary btn-sm "  (click)="gotobooking()" [disabled]="btn !=='2'" >Go To Receiving</button>
          
          
          <button class="btn btn-primary btn-sm ml-7" type="button" [ngClass]="{'bnt-hide': btn !=='2'}" [disabled]="btn !=='2'"
          (click)="undispatch(valForm.value)">UN
          Dispatch</button>
          <button class="btn btn-primary btn-sm mx-2"  type="button" [ngClass]="{'bnt-hide': btn2 !=='2'}" [disabled]="btn2 !=='2'"
          aria-hidden="true" (click)="modal2.open()"
          (click)="mawbnoassign(valForm.value)">Dispatch</button>
          <button class="btn btn-primary btn-sm " (click)="modal1.open()" type="button" [ngClass]="{'bnt-hide': btn !=='2'}" [disabled]="btn !=='2'">Export-Clearance Manifest</button>
          
      </div>
  </div>
  
     
</div>








<div class="panel mt-3.5 shadow-[4px_6px_10px_-3px_#bfc9d4]">
  <div class="flex flex-row">
      <div class="sm:w-10/12">
          
      </div>
      <div class="sm:w-2/12">
          <div class="flex justify-end">
              <input type="text" class="form-input">
          </div>
      </div>
    </div>
    <div class="flex flex-row mt-2.5">
      <div class="w-full">
          <div class="overflow-x-auto max-h-[40vh]">

            <table class="table  table-bordered ">
              <thead style="background-color: #1899c0">
                <tr class="tr">
                  <th class="th2"  data-order="desc" data-name="ptp_mf_no" style="width: 4%;">
                    S.No</th>
                  <th class="th2" style="width: 10%;">Dispatch Manifest&nbsp;&nbsp;</th>
                  <th class="th2" style="width: 9%;"  data-order="desc"
                    data-name="manifest_date">Dispatch Date<em class="fa-2x mr-2 fas fa-sort"
                      style="float:right;font-size:20px"></em></th>
                  <th class="th2" style="width: 10%;"  data-order="desc"
                    data-name="Destination">Destination Port<em class="fa-2x mr-2 fas fa-sort"
                      style="float:right;font-size:20px"></em></th>
                  <th class="th2" style="width: 14%;"  data-order="desc"
                    data-name="shipment_name">Air/Shipping Line<em class="fa-2x mr-2 fas fa-sort"
                      style="float:right;font-size:20px"></em></th>
                  <th class="th2" style="width: 10%;">MAWB No</th>
                  <th class="th2" style="width: 6%;">Tot INV</th>
                  <th class="th2" style="width: 6%;">Tot CTN</th>
                  <th class="th2" style="width: 6%;">Tot WGT</th>

                  <th class="th2" style="width: 7%;">Dispatch By</th>

                  <th class="th2" style="width: 9%;">Dispatch Status</th>
                  <th class="th2" style="width: 4%"><svg style="width:24px;height:24px;cursor: pointer; color: #00A6CB;"
                      viewBox="0 0 24 24">
                      <path fill="white" (click)="get_DP_to_SC(0,50)"
                        d="M12 2A10 10 0 1 0 22 12A10 10 0 0 0 12 2M18 11H13L14.81 9.19A3.94 3.94 0 0 0 12 8A4 4 0 1 0 15.86 13H17.91A6 6 0 1 1 12 6A5.91 5.91 0 0 1 16.22 7.78L18 6Z" />
                    </svg></th>
                </tr>
              </thead>
              <tbody class="tbody">
                <div class="row" *ngIf="btn3">
                  <div class="col-lg-4 mb-3"></div>
                  <div class="col-lg-3 mb-3">
                    <div style="margin-top: 10px;"
                      class="card-body loader-demo loader-demo-sk d-flex align-items-center justify-content-center">
                      <div class="sk-circle">
                        <div class="sk-circle1 sk-child"></div>
                        <div class="sk-circle2 sk-child"></div>
                        <div class="sk-circle3 sk-child"></div>
                        <div class="sk-circle4 sk-child"></div>
                        <div class="sk-circle5 sk-child"></div>
                        <div class="sk-circle6 sk-child"></div>
                        <div class="sk-circle7 sk-child"></div>
                        <div class="sk-circle8 sk-child"></div>
                        <div class="sk-circle9 sk-child"></div>
                        <div class="sk-circle10 sk-child"></div>
                        <div class="sk-circle11 sk-child"></div>
                        <div class="sk-circle12 sk-child"></div>
                        <div class="sk-circle11 sk-child"></div>
                        <div class="sk-circle12 sk-child"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <tr *ngFor="let DP_to_SC_List of DP_to_SC_List let i=index" (click)="changeTableRowColor(i)"
                  [ngStyle]="{'background-color':rowClicked === i ? 'lightgray' : 'white' }">
                  <td style="width: 4%;" (click)="edit(DP_to_SC_List)">{{i+1}}</td>
                  <td style="width: 11%;" (click)="edit(DP_to_SC_List)">{{DP_to_SC_List.ptp_mf_no}}</td>
                  <td style="width: 8%;" (click)="edit(DP_to_SC_List)">{{DP_to_SC_List.manifest_date}}</td>
                  <td style="width: 10%;" (click)="edit(DP_to_SC_List)">{{DP_to_SC_List.Destination}}</td>
                  <td style="width: 10%;" (click)="edit(DP_to_SC_List)">{{DP_to_SC_List.shipment_name}}</td>
                  <td style="width: 10%;" (click)="edit(DP_to_SC_List)">{{DP_to_SC_List.seal_no}}</td>
                  <td style="width: 6%;" (click)="edit(DP_to_SC_List)">{{DP_to_SC_List.invoice_count}}</td>
                  <td style="width: 6%;" (click)="edit(DP_to_SC_List)">{{DP_to_SC_List.carton_count}}</td>
                  <td style="width: 6%;" (click)="edit(DP_to_SC_List)">{{DP_to_SC_List.total_received_weight}}</td>
                  <td style="width: 6%;" (click)="edit(DP_to_SC_List)">{{DP_to_SC_List.CreatedBy}}</td>
                  <td style="width: 11%;" (click)="edit(DP_to_SC_List)">{{DP_to_SC_List.dispatch_status}}</td>
                  <td style="width: 4%;">
                    <!-- <a (click)="edit(FormCustomOffice)">
                  <svg style="width:24px;height:24px;cursor: pointer; color: #00A6CB;" viewBox="0 0 24 24">
                    <path fill="#1899c0 "
                      d="M14.06,9L15,9.94L5.92,19H5V18.08L14.06,9M17.66,3C17.41,3 17.15,3.1 16.96,3.29L15.13,5.12L18.88,8.87L20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18.17,3.09 17.92,3 17.66,3M14.06,6.19L3,17.25V21H6.75L17.81,9.94L14.06,6.19Z" />
                  </svg> </a> -->
                  <button (click)="data(DP_to_SC_List);DeleteModal.open()" type="button" ngxTippy data-tippy-content="Delete" class="text-red-500">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="inline-block h-5 w-5">
                        <path d="M20.5 6H3.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
                        <path d="M18.8334 8.5L18.3735 15.3991C18.1965 18.054 18.108 19.3815 17.243 20.1907C16.378 21 15.0476 21 12.3868 21H11.6134C8.9526 21 7.6222 21 6.75719 20.1907C5.89218 19.3815 5.80368 18.054 5.62669 15.3991L5.16675 8.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
                        <path opacity="0.5" d="M9.5 11L10 16" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
                        <path opacity="0.5" d="M14.5 11L14 16" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
                        <path opacity="0.5" d="M6.5 6C6.55588 6 6.58382 6 6.60915 5.99936C7.43259 5.97849 8.15902 5.45491 8.43922 4.68032C8.44784 4.65649 8.45667 4.62999 8.47434 4.57697L8.57143 4.28571C8.65431 4.03708 8.69575 3.91276 8.75071 3.8072C8.97001 3.38607 9.37574 3.09364 9.84461 3.01877C9.96213 3 10.0932 3 10.3553 3H13.6447C13.9068 3 14.0379 3 14.1554 3.01877C14.6243 3.09364 15.03 3.38607 15.2493 3.8072C15.3043 3.91276 15.3457 4.03708 15.4286 4.28571L15.5257 4.57697C15.5433 4.62992 15.5522 4.65651 15.5608 4.68032C15.841 5.45491 16.5674 5.97849 17.3909 5.99936C17.4162 6 17.4441 6 17.5 6" stroke="currentColor" stroke-width="1.5" />
                    </svg>
                </button>
                  </td>
                </tr>
              </tbody>
            </table>
                       
                
            
          </div>
      </div>
  </div>
  </div>
 
</form>

  <div>
      <!-- Trigger -->
  
      <!-- Modal -->
      <modal #modal1 class="modal-top  animate animate-slide-in-down">
          <ng-template #modalHeader> <div>Dispatch Manifest</div> </ng-template>
          <ng-template #modalBody>
              <div class="flex">
                  <div class="lg:w-6/12 p-2">
                      <button class="btn btn-primary" (click)="ktm()" [ngClass]="{'bnt-hide': btn !=='2'}" [disabled]="btn !=='2'">KTM Manifest</button>
                  </div>
                  <div class="lg:w-6/12 p-2">
                      <button class="btn btn-primary" (click)="ubccj()" [ngClass]="{'bnt-hide': btn !=='2'}" [disabled]="btn !=='2'">UB CCJ Manifest</button>
                  </div>
              </div>
              <div class="flex">
                  <div class="lg:w-6/12 p-2">
                      <button class="btn btn-primary" (click)="packingList()" [ngClass]="{'bnt-hide': btn !=='2'}" [disabled]="btn !=='2'">SEA Packing List</button>
                  </div>
                  <div class="lg:w-6/12 p-2">
                      <button class="btn btn-primary"   (click)="checklist()" [ngClass]="{'bnt-hide': btn !=='2'}" [disabled]="btn !=='2'">SEA Checklist</button>
                  </div>
              </div>
              <div class="flex">
                  <div class="lg:w-6/12 p-2">
                      <button class="btn btn-primary" (click)="courier()" [ngClass]="{'bnt-hide': btn !=='2'}" [disabled]="btn !=='2'">Courier Manifest</button>
                  </div>
                  <div class="lg:w-6/12 p-2">
                      <button class="btn btn-primary" (click)="delivery()" [ngClass]="{'bnt-hide': btn !=='2'}" [disabled]="btn !=='2'">Delivery Manifest</button>
                  </div>
              </div>
          </ng-template>
        
      </modal>
  </div>
  
  <div>
      <!-- Trigger -->
  
      <!-- Modal -->
      <modal #modal2 class="modal-top large-modal animate animate-slide-in-down">
          <form [formGroup]="dispatchForm" class="form-validate mb-3" role="form" name="disForm" novalidate=""
          >
          <ng-template #modalHeader> <div>Dispatch Manifest </div> </ng-template>
          <ng-template #modalBody>
             <div class="flex">
              
                  <div class="lg:w-6/12 px-2">
                      <label class="col-lg-3 mb-3 required" style="font-size: 93%;"
                      [ngStyle]="{'color': dispatchForm.controls['clr_org'].hasError('required') && (dispatchForm.controls['clr_org'].dirty || dispatchForm.controls['clr_org'].touched)? 'red' : ''}">
                      Clearance Organization</label>                       
                       <select id="gridState"
                      class="form-select text-white-dark h-[38px] py-0 text-center font-bold "  formControlName="clr_org"
                      [ngStyle]="{'border-color': dispatchForm.controls['clr_org'].hasError('required') && (dispatchForm.controls['clr_org'].dirty || dispatchForm.controls['clr_org'].touched)? 'red' : ''}">
                      <option value="" disabled selected hidden="">Select-Type</option>
                      <option *ngFor="let list of OrganizationList" value="{{list.clearance_licence_id}}">
                        {{list.clr_licence_name}}</option>
                    </select>
                  </div>
                  <div class="lg:w-6/12">
                      <label class="col-lg-1 mb-3"
                      [ngStyle]="{' color': dispatchForm.controls['awb_pices'].hasError('required') && (dispatchForm.controls['awb_pices'].dirty || dispatchForm.controls['awb_pices'].touched)? 'red' : ''}">
                      AWB Pieces</label>                       
                       <input type="text" name="" id="" class="form-input" formControlName="awb_pices"
                       [ngStyle]="{'border-color': dispatchForm.controls['awb_pices'].hasError('required') && (dispatchForm.controls['awb_pices'].dirty || dispatchForm.controls['awb_pices'].touched)? 'red' : ''}">
                  </div>
                  
             </div>
             <div class="flex">
              <div class="lg:w-full px-2">
                  <label for="" class="inline-block">MAWB No  </label> <br>
                  <input type="text" name="" id="" class="form-input w-[80px] mx-3.5" formControlName="mawb_code"
                  [ngStyle]="{'border-color': dispatchForm.controls['mawb_code'].hasError('required') && (dispatchForm.controls['mawb_code'].dirty || dispatchForm.controls['mawb_code'].touched)? 'red' : ''}">
                  <input type="text" name="" id="" class="form-input w-[200px]" formControlName="mawb2" maxlength="8"
                  (change)="mawbnoassign(valForm.value)"
                  [ngStyle]="{'border-color': dispatchForm.controls['mawb2'].hasError('required') && (dispatchForm.controls['mawb2'].dirty || dispatchForm.controls['mawb2'].touched)? 'red' : ''}">
  
              </div>
             </div>
          </ng-template>
          <ng-template #modalFooter>
              <div class="flex">
                  <div class="w-full text-center">
                      <button type="button" class="btn btn-primary inline-block" (click)="modal2.close()">Cancel</button>
              <button type="button" class="btn btn-primary ltr:ml-4 rtl:mr-4 inline-block mx-5" (click)="DispatchForm(dispatchForm.value)">Save</button>
                  </div>
              </div>
          </ng-template>
          </form>
      </modal>
  </div>
  

<!-- slidein down -->
<div>
  <!-- Trigger -->

  <!-- Modal -->
  <modal #modal10 class="modal-top animate animate-slide-in-down extra-large-modal">
      <ng-template #modalHeader> <div class="flex flex-row justify-center p-0">
          <div class="w-full  panel w-[50%] p-1.5 text-center rounded-full">
              <input type="radio" class="form-radio" name="i-radio" value="option1" (click)="summary()" checked="checked">
              <label class="inline-block mr-3" for="SUMMARY1" >STOCK SUMMARY </label>

              <input type="radio" class="form-radio" name="SUMMARY" id="DETAILS" name="i-radio" value="option2" (click)="details()">
              <label class="inline-block" for="DETAILS">STOCK DETAILS </label>
          </div>
          
      </div> <div class="flex flex-container mt-0 ">
          <div class="w-full text-center">
              <span class="  ">Stock Details - REXROAD</span> <button class="btn btn-primary btn-sm inline-block mx-5" (click)="export1()">Export</button>
          </div>
      </div></ng-template>  
      <ng-template #modalBody>
         <div class="flex ">
              <div class="lg:w-4/12 text-center">
                  <span>Total Invoice : <span class="rounded-full bg-primary p-1 text-white">{{tot_inv}}</span> </span>
              </div>
              <div class="lg:w-4/12 text-center">
                  <span>Total Carton :  <span class="rounded-full bg-primary p-1 text-white">{{tot_ctn}} </span></span>
              </div>
              <div class="lg:w-4/12 text-center">
                  <span>Total Weight :  <span class="rounded-full bg-primary p-1 text-white">{{tot_wgt}}</span></span>
              </div>
         </div>
         <div>
              <div class="flex ">
                  <div  *ngIf="st_summary == true" class="lg:w-full mt-3 max-h-[55vh] overflow-auto">
                    <table class="table  table-bordered ">
                        <thead class="bg-info">
                           <tr class="bg-primary1">
                              <th class="text-white" style="width: 10%;">S.No</th>
                              <th class="text-white">Area</th>
                              <th class="text-white">Total Invoice</th>
                              <th class="text-white">Total Carton</th>
                              <th class="text-white">Total Weight</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr *ngFor="let StockDetailsgodown_b_to_b of StockDetailsgodown_b_to_b, let i=index">
                              <td style="width: 10%;">{{i+1}}</td>
                              <td>{{StockDetailsgodown_b_to_b.deliveryAreaCode}}</td>
                              <td>{{StockDetailsgodown_b_to_b.total_invoice}}</td>
                              <td>{{StockDetailsgodown_b_to_b.total_carton}}</td>
                              <td>{{StockDetailsgodown_b_to_b.total_weight}}</td>
                           </tr>
                        </tbody>
                     </table>
                        
                  </div>


                  <div  *ngIf="st_summary == false" class="lg:w-full mt-3 max-h-[55vh] overflow-auto">
                    <table class="table  table-bordered ">
                      <thead class="bg-info">
                         <tr class="bg-primary1">
                            <th class="text-white" style="width: 10%;">S.No</th>
                            <th class="text-white">Invoice No</th>
                            <th class="text-white">Carton No</th>
                            <th class=  "text-white">Carton Weight</th>
                            <th class="text-white">Country</th>
                            <th class="text-white">State</th>
                         </tr>
                      </thead>
                      <tbody>
                         <tr *ngFor="let StockDetailsgodown_b_to_b of StockDetailsgodown_b_to_b_details, let i=index">
                            <td style="width: 10%;">{{i+1}}</td>
                            <td>{{StockDetailsgodown_b_to_b.invoice_no}}</td>
                            <td>{{StockDetailsgodown_b_to_b.carton_no}}</td>
                            <td>{{StockDetailsgodown_b_to_b.carton_weight}}</td>
                            <td>{{StockDetailsgodown_b_to_b.destination_country}}</td>
                            <td>{{StockDetailsgodown_b_to_b.delivery_state}}</td>
                         </tr>
                      </tbody>
                   </table>
                        
                  </div>
              </div>
         </div>
      </ng-template>
      <!-- <ng-template #modalFooter>
          <button type="button" (click)="modal10.close()" class="btn btn-outline-danger">Discard</button>
          <button type="button" (click)="modal10.close()" class="btn btn-primary ltr:ml-4 rtl:mr-4">Save</button>
      </ng-template> -->
  </modal>    
</div>

    
<!-- large -->
<div>
  <!-- Trigger -->

  <!-- Modal -->
  <modal #modal6 class="modal-top animate animate-slide-in-down extra-large-modal">
      <ng-template #modalHeader> <div>Stock Details </div> </ng-template>
      <ng-template #modalBody>
         <div class="flex "> 
              <div class="w-8/12 max-h-[55vh] overflow-auto">
                  <table class="table  table-bordered ">
                      <thead style="background-color: #1899c0">
                        <tr class="bg-primary1">
                          <th><input type="checkbox" (change)="CheckAllOptions()"></th>
                          <th class="text-white">Sl No</th>
                          <!-- <th class="th2" style="width: 10%">unit Id</th> -->
                          <th class="text-white">From Area&nbsp;&nbsp;</th>
                          <th class="text-white">Manifest No</th>
                          <th class="text-white">Manifest Date</th>
                          <th class="text-white">Total Invoice</th>
                          <th class="text-white">Total Carton</th>
                          <th class="text-white">Total Weight</th>
                        </tr>
                      </thead>
                      <tbody class="tbody">
                        <div class="row" *ngIf="btn3">
                          <div class="col-lg-4 mb-3"></div>
                          <div class="col-lg-3 mb-3">
                            <div style="margin-top: 10px;"
                              class="card-body loader-demo loader-demo-sk d-flex align-items-center justify-content-center">
                              <div class="sk-circle">
                                <div class="sk-circle1 sk-child"></div>
                                <div class="sk-circle2 sk-child"></div>
                                <div class="sk-circle3 sk-child"></div>
                                <div class="sk-circle4 sk-child"></div>
                                <div class="sk-circle5 sk-child"></div>
                                <div class="sk-circle6 sk-child"></div>
                                <div class="sk-circle7 sk-child"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <tr *ngFor="let stock_B_To_B of stock_B_To_B, let i=index">
                          <td><input type="checkbox" (change)="onChange($event, stock_B_To_B.ptp_mf_no)"
                              [(ngModel)]="stock_B_To_B.checked">
                          </td>
                          <td (click)="BookingAndNonBokking(stock_B_To_B)">{{i+1}}</td>
                          <td (click)="BookingAndNonBokking(stock_B_To_B)">{{stock_B_To_B.deliveryAreaCode}}</td>
                          <td (click)="BookingAndNonBokking(stock_B_To_B)">{{stock_B_To_B.ptp_mf_no}}</td>
                          <td (click)="BookingAndNonBokking(stock_B_To_B)">{{stock_B_To_B.manifest_date}}</td>
                          <td (click)="BookingAndNonBokking(stock_B_To_B)">{{stock_B_To_B.total_invoice}}</td>
                          <td (click)="BookingAndNonBokking(stock_B_To_B)">{{stock_B_To_B.total_carton}}</td>
                          <td (click)="BookingAndNonBokking(stock_B_To_B)">{{stock_B_To_B.total_weight}}</td>
                        </tr>
                      </tbody>
                    </table>
              </div>
              <div class="w-4/12 max-h-[55vh] overflow-auto">
                  <table class="table">
                      <thead style="background-color: #1899c0">
                        <tr class="bg-primary1">
                          <!-- <th>S.No</th> -->
                          <!-- <th class="text-white"><input type="checkbox" (change)="CheckAllOptions2()"></th> -->
                          <th class="text-white">InvNo</th>
                          <th class="text-white">Destination</th>
                          <th class="text-white">Wgt</th>
                          <th class="text-white">Ctn</th>
                          <th class="text-white">State</th>
                        </tr>
                      </thead>
                      <tbody style="background-color: #fff;">
                        <tr *ngFor="let stock_non_booking_B_To_B of stock_non_booking_B_To_B, let i=index"
                          >
                          <!-- <td><input type="checkbox"
                            (change)="AvailableNonBookedCarton($event.target.checked, stock_non_booking_B_To_B.carton_id)"
                            [(ngModel)]="stock_non_booking_B_To_B.checked"></td> -->
                          <td>{{stock_non_booking_B_To_B.invoice_no}}</td>
                          <td>{{stock_non_booking_B_To_B.print_title}}</td>
                          <td>{{stock_non_booking_B_To_B.rcvd_wgt}}</td>
                          <td>{{stock_non_booking_B_To_B.carton_no}}</td>
                          <td>{{stock_non_booking_B_To_B.delivery_state_name}}</td>
                        </tr>
                      </tbody>
                    </table>
              </div>
         </div>
      </ng-template>
      <ng-template #modalFooter>
          <button type="button" class="btn btn-primary">Export</button>
          </ng-template>
  </modal>
</div>



<div>
<!-- Trigger -->
<!-- Modal -->
<modal #DeleteModal class="custom-modal small-modal" [closeOnOutsideClick]="false">
    <ng-template #modalBody>
        <div class="text-sm text-white-dark">
            <h1 class="text-2xl text-black">Delete</h1>
            <h2 class="text-xl">Do you really want to delete this item?</h2>
        </div>
    </ng-template>
    <ng-template #modalFooter>
        <!-- Set canDelete to true when Delete button is clicked -->
        <button type="button" class="btn btn-danger ltr:ml-4 rtl:mr-4" (click)="delete()">Delete</button>
        <!-- Close modal without deleting if Cancel button is clicked -->
        <button type="button" class="btn btn-primary ltr:ml-4 rtl:mr-4" (click)="DeleteModal.close()">Cancel</button>
    </ng-template>
</modal>
</div>
</div>