    <style>
        table,
        tr,
        td,
        th {
            border: 1px solid rgb(230, 224, 224);
        }

        .form-checkbox {
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            width: 20px;
            height: 20px;
            border: 1px solid rgb(184, 181, 181);
            border-radius: 3px;
            outline: none;
            cursor: pointer;
        }

        .form-checkbox:checked {
            background-color: #8062CF;
            color: black !important;
        }

        th,
        tr,
        td {
            height: 2vh !important;
        }

        th {
            text-align: center;

        }

        thead {
            position: sticky;
            top: 0px;
            z-index: 50;
        }

        td,
        th {
            text-align: center;
            padding: 2px 0px !important;
        }
        .table-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    }

    table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    }

    thead {
    flex: 0 0 auto;
    }

    tbody {
    flex: 1 1 auto;
    overflow-y: auto;
    display: block;
    }

    tr {
    display: table;
    width: 100%;
    table-layout: fixed;
    }

    </style>

    <div class="panel shadow-[4px_6px_10px_-3px_#bfc9d4]  p-0.5 mt-1">
        <div class="flex-container flex-row flex" (click)="Toggle()">
            <div class="sm:w-9/12 flex-row">
                <p class="text-secondary hover:underline text-lg text-center">DISPATCH TO DESTINATION PORT</p>
            </div>
            <div class="sm:w-2/12 flex-row">
                <p class="text-secondary hover:underline text-lg text-center">Carton Details </p>
            </div>
            <div class="sm:1/12 flex-row">
                <!-- <icon-plus class="d-inline" /> -->
            </div>
        </div>
        <div class="flex flex-row flex-container" [ngStyle]="{ 'display' : PanelExpand ? 'block' : 'none' } ">
            <hr>
            <div class="flex flex-container flex-row">
                <div class="lg:w-6/12">
                    <div class="flex flex-row">
                        <div class="lg:w-6/12 mx-2">
                            <label for="">Origin Wgt</label>
                            <input type="text" class="form-input h-[30px] w-[80%]">
                            <label for="">Box No</label>
                            <input type="text" class="form-input h-[30px] w-[80%]">

                        </div>
                        <div class="lg:w-6/12">
                            <label for="">Warehouse</label>
                            <input type="text" class="form-input h-[30px] w-[80%]">
                            <label for="">Item Details</label>
                            <input type="text" class="form-input h-[30px] w-[80%]">

                        </div>
                    </div>
                </div>
                <div class="lg:w-6/12">
                    <div class="flex flex-row items-center h-[100%] ">
                        <div class="lg:w-6/12 mx-2">
                            <label for="" class="">Receiver Address</label>
                            <textarea rows="3" class="form-textarea rounded"></textarea>

                        </div>
                        <div class="lg:w-6/12 ">
                            <label for="">Delivery Area</label>
                            <textarea rows="3" class="form-textarea rounded"></textarea>

                        </div>
                    </div>
                </div>
            </div>

            <div class="flex flex-container flex-row">
                <div class="lg:w-3/12 mx-2">
                    <label for="">Box No</label>
                    <input type="text" class="form-input h-[30px] w-[80%]">
                </div>
                <div class="lg:w-9/12 text-center">
                    <div class="flex">
                        <div class="w-4/12 ">
                            <label for="gridState">Rack</label>


                            <select id="gridState" class="form-select text-white-dark h-[30px] py-0 text-center font-bold ">
                                <option>Choose...</option>
                                <option>...</option>
                            </select>

                        </div>
                        <div class="w-4/12 mx-3">
                            <label for="gridState" cl>Pallete</label>


                            <select id="gridState" class="form-select text-white-dark h-[30px] py-0 text-center font-bold ">
                                <option>Choose...</option>
                                <option>...</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="panel shadow-[4px_6px_10px_-3px_#bfc9d4] mt-3 px-0.5 py-3">
        <div class="flex flex-row">
            <div class="lg:w-3/12 sm:w-full panel py-2 px-1">


                <div class="border border-black-700  rounded-xl py-2.5 px-0.5">
                    <div class="flex-container flex ">
                        <div class="w-full">
                            <p class="text-center text-md">NON BOOKED CARTON </p>
                        </div>

                    </div>
                    <div class="flex flex-container flex-row mt-2.5">
                        <div class="w-2/12 ">
                            <p class="text-center pb-1.5">Tot Inv:</p>
                        </div>
                        <div class="w-2/12 flex flex-row align-center justify-center">
                            <p class=" text-white  text-center"><span class="bg-primary px-1 rounded-full" *ngIf="non_arr">{{non_arr.length}}</span></p>

                        </div>
                        <div class="w-2/12 whitespace-nowrap">
                            <p class="text-center pb-1.5">Tot WT:</p>
                        </div>
                        <div class="w-2/12 flex flex-row align-center justify-center">
                            <p class=" text-white  text-center"><span class="bg-primary px-1 rounded-full" *ngIf="stock_non_booking_B_To_B">{{tot_non_clr_wgt}}</span></p>

                        </div>
                        <div class="w-2/12 whitespace-nowrap    ">
                            <p class="text-center pb-1.5">Tot Ctn:</p>
                        </div>
                        <div class="w-2/12 flex flex-row align-center justify-center">
                            <p class=" text-white  text-center"><span class="bg-primary px-1 rounded-full">{{stock_non_booking_B_To_B.length}}</span></p>

                        </div>

                    </div>



                </div>
                <div class="flex flex-row mt-1.5">
                    <div class="lg:w-6/12">
                        <select id="gridState"
                            class="form-select text-white-dark w-[95%] h-[30px] py-0 text-center font-bold " (change)="updateFilter($event)">
                            <option  value="" >Select-Mode</option>
                            <option *ngFor="let mode of mode" value="{{mode}}" >{{mode}}</option>
                            </select>
                    </div>
                    <div class="lg:w-6/12">
                        <select id="gridState"
                            class="form-select text-white-dark w-[95%] h-[30px] py-0 text-center font-bold "(change)="updateFiltercountry($event)" >
                            <option  value="">Select-Country</option>
                            <option *ngFor="let country of country" value="{{country}}">{{country}}</option>
                        </select>
                    </div>
                </div>
                <div class="flex flex-row mt-2.5 h-[calc(100vh-250px)] overflow-auto">
                    <table class="table  table-bordered ">
                        <thead>
                        <tr class="bg-primary1">
                            <th >InvNo</th>
                            <th >Wgt</th>
                            <th >Ctn</th>
                            <th >Mode</th>
                            <th >State</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let stock_non_booking_B_To_B of stock_non_booking_B_To_B, let i=index"
                            (click)="assignnonbook(stock_non_booking_B_To_B)"
                            (click)="changeTableRowColor(i)"
                            [ngStyle]="{'background-color':rowClicked === i ? 'lightgray' : 'white' }">
                            <td  [ngStyle]="{'color':stock_non_booking_B_To_B.color ? 'red' : 'black' }">{{stock_non_booking_B_To_B.invoice_no}}</td>
                            <td  [ngStyle]="{'color':stock_non_booking_B_To_B.color ? 'red' : 'black' }">{{stock_non_booking_B_To_B.rcvd_wgt}}</td>
                            <td  [ngStyle]="{'color':stock_non_booking_B_To_B.color ? 'red' : 'black' }">{{stock_non_booking_B_To_B.carton_no}}/{{stock_non_booking_B_To_B.total_carton}}</td>
                            <td  [ngStyle]="{'color':stock_non_booking_B_To_B.color ? 'red' : 'black' }">{{stock_non_booking_B_To_B.transit_type_name}}</td>
                            <td  [ngStyle]="{'color':stock_non_booking_B_To_B.color ? 'red' : 'black' }">{{stock_non_booking_B_To_B.delivery_state_name}}</td>
        
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="lg:w-6/12 sm:w-full panel mx-2.5 py-1 px-2 xl:h-[75vh]" style="background-color: rgb(241, 238, 238);">
                            <form [formGroup]="valForm" class="form-validate" role="form" name="registerForm" novalidate="" >
                                <div class="flex flex-col h-full">
                                    <div class="lg:w-full text-center">
                        <label for="" class="text-secondary text-xl">Receiving Mode</label>
                    </div>
                </div>
                <div class="flex justify-center">
                    <div class="lg:w-full mx-3 ">
                        <div class="flex flex-row justify-center">
                            <div>
                                <div class="flex items-center">
                                    <button
                                        class="py-1 px-4 rounded-l-lg focus:outline-none border border-secondary text-secondary"
                                        [class.bg-secondary]="selectedOption === 'on'"
                                        [class.text-white]="selectedOption === 'on'"
                                        (click)="selectOption('on')" (click)="invoiceradio()">Invoice</button>
                                    <button
                                        class="py-1 px-3 rounded-r-lg focus:outline-none border border-secondary text-secondary"
                                        [class.bg-secondary]="selectedOption === 'off'"
                                        [class.text-white]="selectedOption === 'off'"
                                        (click)="selectOption('off');barcoderadio()">Barcode</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="flex flex-row">
                    <div class="lg:w-8/12 mx-2">
                        <label for="">Invoice_No</label>
                        <input type="text" class="form-input h-[30px]" formControlName="p_invoiceNumber"
                        (change)="getsearchbyinvoice(valForm.value)"  #invoiceno maxlength="15" [readonly]="checkData==true">
                    </div>
                    <div class="lg:w-4/12">
                        <label for="">Carton_No</label>
                        <input #carton class="form-input h-[30px]"  (change)="getsearchbycarton(valForm.value)" type="text" 
                    formControlName="p_cartonNumber" maxlength="5" oninput="this.value = this.value.replace(/[^0-9/.]/g, '').replace(/(\..*)\./g, '$1');"/>

                    </div>
                </div>
                <div class="flex flex-row">
                    <div class="lg:w-full mx-2">
                        <label for="">Barcode_No</label>
                        <input class="form-input h-[30px]   "  type="text" formControlName="p_barcodeNumber"
                        (change)="getsearchbybarcode($event,valForm.value)"  maxlength="15" 
                        #barcode [readonly]="checkData==false">                </div>

                </div>
                <div class="flex flex-row">
                    <div class="lg:w-4/12 mx-2">
                        <label for="">Weight</label>
                        <input (keyup.enter)="save.focus()" #weight class="form-input h-[30px]" 
                        type="text" formControlName="p_cartonWeight" maxlength="13" oninput="this.value = this.value.replace(/[^0-9/.]/g, '').replace(/(\..*)\./g, '$1');"/>
                    </div>
                    <div class="lg:w-8/12 ">
                        <label for="">Packing_Condition</label>
                        <select id="gridState" class="form-select text-white-dark  h-[30px] py-0 text-center font-bold " formControlName="p_packingCondition">
                            <option value="" disabled selected hidden="">GOOD</option>
                            <option *ngFor="let PackingConditionReceivingBranch of PackingConditionReceivingBranch"
                            value="{{PackingConditionReceivingBranch.pack_condition}}">
                            {{PackingConditionReceivingBranch.pack_condition}}</option>
                            </select>
                    </div>

                </div>
                <div class="flex flex-row text-center">
                    <div class="w-full flex flex-row mt-6 text-white justify-center">
                        <button class="btn bg-primary btn-sm mx-2" (click)="modal7.open();addall()" type="button" >Add All</button>
                        <!-- <button class="btn bg-primary btn-sm">View</button> -->
                        <button class="btn bg-success btn-sm mx-2 "  type="button" (click)="submitForm($event, valForm.value)" #save>Save</button>
                        <button class="btn bg-warning btn-sm"  type="button" (click)="updatemodal.open()" [ngClass]="{'bnt-hide': btn !=='2'}"  [disabled]="btn !=='2'"> Update</button>
                        <button class="btn bg-info btn-sm mx-2" (click)="reset()">Reset</button>
                        <button class="btn bg-primary btn-sm mx-2" routerLink="/Operation/Dispatch">Back</button>

                        <button class="btn bg-danger btn-sm" type="button" (click)="deleteModal.open()" [ngClass]="{'bnt-hide': btn !=='2' && btn !=='4'}"  [disabled]="btn !=='2' && btn !=='4'">Delete</button>
                    </div>
                </div>
                <div class="flex flex-row  rounded-full mt-2 panel p-1.5">
                    <div class="lg:w-full">
                        <p class="text-center">STOCK</p>
                    </div>
                </div>
                <div class="flex flex-row mt-2.5 h-[30vh] overflow-auto">
                    <div class="lg:w-full">
                        <table class="table  table-bordered ">
                            <thead style="background-color: #1899c0">
                            <tr class="tr bg-primary1">
                                <th><input type="checkbox" (change)="CheckAllOptions()"></th>
                                <th class="text-white">Sl No</th>
                                <!-- <th class="th2" style="width: 10%">unit Id</th> -->
                                <th class="text-white">From Area&nbsp;&nbsp;</th>
                                <th class="text-white">Manifest No</th>
                                <th class="text-white">Manifest Date</th>
                                <th class="text-white">Total Invoice</th>
                                <th class="text-white">Total Carton</th>
                                <th class="text-white">Total Weight</th>
                            </tr>
                            </thead>
                            <tbody class="tbody">
                            <div class="row" *ngIf="btn3">
                                <div class="col-lg-4 mb-3"></div>
                                <div class="col-lg-3 mb-3">
                                <div style="margin-top: 10px;"
                                    class="card-body loader-demo loader-demo-sk d-flex align-items-center justify-content-center">
                                    <div class="sk-circle">
                                    <div class="sk-circle1 sk-child"></div>
                                    <div class="sk-circle2 sk-child"></div>
                                    <div class="sk-circle3 sk-child"></div>
                                    <div class="sk-circle4 sk-child"></div>
                                    <div class="sk-circle5 sk-child"></div>
                                    <div class="sk-circle6 sk-child"></div>
                                    <div class="sk-circle7 sk-child"></div>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <tr *ngFor="let stock_B_To_B of stock_B_To_B, let i=index">
                                <td><input type="checkbox"
                                    (change)="onChange($event, stock_B_To_B.ptp_mf_no,stock_B_To_B.total_carton,
                                    stock_B_To_B.total_weight)" [(ngModel)]="stock_B_To_B.checked" [ngModelOptions]="{standalone: true}">
                                </td>
                                <td style="color: black;" (click)="BookingAndNonBokking(stock_B_To_B)">{{i+1}}</td>
                                <td style="color: black;" (click)="BookingAndNonBokking(stock_B_To_B)">{{stock_B_To_B.deliveryAreaCode}}</td>
                                <td style="color: black;" (click)="BookingAndNonBokking(stock_B_To_B)">{{stock_B_To_B.ptp_mf_no}}</td>
                                <td style="color: black;" (click)="BookingAndNonBokking(stock_B_To_B)">{{stock_B_To_B.manifest_date}}</td>
                                <td style="color: black;" (click)="BookingAndNonBokking(stock_B_To_B)">{{stock_B_To_B.total_invoice}}</td>
                                <td style="color: black;" (click)="BookingAndNonBokking(stock_B_To_B)">{{stock_B_To_B.total_carton}}</td>
                                <td style="color: black;" (click)="BookingAndNonBokking(stock_B_To_B)">{{stock_B_To_B.total_weight}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                </form>

            </div>











            <div class="lg:w-3/12 sm:w-full panel px-0.5 py-3">

                <div class="border border-black-700  rounded-xl py-2.5 px-0.5">
                    <div class="flex-container flex ">
                        <div class="w-full">
                            <p class="text-center text-md"> BOOKED CARTON </p>
                        </div>

                    </div>
                    <div class="flex flex-container flex-row mt-2.5">
                        <div class="w-2/12 ">
                            <p class="text-center pb-1.5">Tot Inv:</p>
                        </div>
                        <div class="w-2/12 flex flex-row align-center justify-center">
                            <p class=" text-white  text-center"><span class="bg-primary px-1 rounded-full" *ngIf="arr">{{arr.length}}</span></p>

                        </div>
                        <div class="w-2/12 whitespace-nowrap">
                            <p class="text-center pb-1.5">Tot WT:</p>
                        </div>
                        <div class="w-2/12 flex flex-row align-center justify-center">
                            <p class=" text-white  text-center"><span class="bg-primary px-1 rounded-full">{{tot_clr_wgt}}</span></p>

                        </div>
                        <div class="w-2/12 whitespace-nowrap    ">
                            <p class="text-center pb-1.5">Tot Ctn:</p>
                        </div>
                        <div class="w-2/12 flex flex-row align-center justify-center">
                            <p class=" text-white  text-center"><span class="bg-primary px-1 rounded-full" *ngIf="stock_booking_B_To_B">{{stock_booking_B_To_B.length}}</span></p>

                        </div>

                    </div>



                </div>
                <div class="flex flex-row mt-1.5">
                    <div class="lg:w-6/12">
                        <select id="gridState"
                            class="form-select text-white-dark w-[95%] h-[30px] py-0 text-center font-bold "(change)="updateFilterbookmode($event)">
                            <option  value="" >Select-Mode</option>
                            <option *ngFor="let bookmode of bookmode" value="{{bookmode}}" >{{bookmode}}</option>
                        
                        </select>
                    </div>
                    <div class="lg:w-6/12">
                        <select id="gridState"
                            class="form-select text-white-dark w-[95%] h-[30px] py-0 text-center font-bold "(change)="updateFilterbookcountry($event)" >
                            <option  value="">Select-Country</option>
                            <option *ngFor="let bookcountry of bookcountry" value="{{bookcountry}}">{{bookcountry}}</option>
                            </select>
                    </div>
                </div>
                <div class="flex flex-row mt-2.5 h-[calc(100vh-320px)] overflow-auto">
                    <table class="table  table-bordered ">
                        <thead>
                        <tr class="bg-primary1">
                            <!-- <th>S.No</th> -->
                            <th  ><input type="checkbox" (change)="CheckAlldelete()"></th>
                            <th >InvNo</th>
                            <th >Wgt</th>
                            <th >Ctn</th>
                            <th >State</th>
                            <th >Destination</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let stock_booking_B_To_B of stock_booking_B_To_B, let i=index" (click)="assignbook(stock_booking_B_To_B)" (click)="changeTableRowColor_booked(i)" >
                            <td ><input type="checkbox" (change)="onChangedelete($event, stock_booking_B_To_B.mf_details_id)" [(ngModel)]="stock_booking_B_To_B.checked"></td>
                            <td >{{stock_booking_B_To_B.invoice_no}}</td>
                            <td  >{{stock_booking_B_To_B.rcvd_wgt}}</td>
                            <td  >{{stock_booking_B_To_B.carton_no}}/{{stock_booking_B_To_B.total_carton}}</td>
                            <td  >{{stock_booking_B_To_B.delivery_state_name}}</td>
                            <td  >{{stock_booking_B_To_B.print_title}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>




    <div>
        <!-- Trigger -->

        <!-- Modal -->
        <modal #modal7 class="modal-top large-modal animate animate-slide-in-down">
            <ng-template #modalHeader>
                <div class="flex">
                    <div class="lg:w-full">
                        <p>Available NonBooked Carton</p>
                    </div>

                </div>
            </ng-template>
            <ng-template #modalBody>
            <div class="flex">
                <div class="sm:w-full">
                    <form class="form-validate mb-3" role="form" name="iecForm" novalidate="">
                        <div class="flex">
                        <div class="w-4/12">
                            <label class="col-form-label"> Total Invoice</label>
                            <input type="text" *ngIf="arrall" value="{{arrall.length}}" class="form-input h-[90%]">
                        </div>
                        <div class="w-4/12">
                            <label class="col-form-label"> Total Carton</label>
                            <input type="text" *ngIf="selected2" value="{{selected2.length}}" class="form-input h-[90%]">
                        </div>
                        <div class="w-4/12">
                            <label class="col-form-label"> Total Weight</label>
                            <input type="text" value="{{tot_clr_wgt_add_all}}" class="form-input h-[90%]">
                        </div>
                        </div>
                    </form>
                </div>
            </div>
                <div class="flex">
                    <div class="w-full">
                        <div class="table-responsive max-h-[40vh] overflow-auto" style="overflow-y: scroll;">
                            <table class="table">
                            <thead>
                                <tr class="bg-primary1">
                                <!-- <th>S.No</th> -->
                                <th ><input type="checkbox" [(ngModel)]="checkall"  (change)="CheckAllOptions2()"></th>
                                <th >InvNo</th>
                                <th >Destination</th>
                                <th >Wgt</th>
                                <th >Ctn</th>
                                <th >State</th>
                                </tr>
                            </thead>
                            <tbody style="background-color: #fff;">
                                <tr *ngFor="let stock_non_booking_B_To_B of stock_non_booking_B_To_B, let i=index"
                                (click)="assignnonbook(stock_non_booking_B_To_B)">
                                <td><input type="checkbox"
                                    (change)="AvailableNonBookedCarton($event, stock_non_booking_B_To_B.carton_id,stock_non_booking_B_To_B.invoice_no,stock_non_booking_B_To_B.rcvd_wgt)"
                                    [(ngModel)]="stock_non_booking_B_To_B.checked"></td>
                                <td style="color: black;">{{stock_non_booking_B_To_B.invoice_no}}</td>
                                <td style="color: black;">{{stock_non_booking_B_To_B.print_title}}</td>
                                <td style="color: black;">{{stock_non_booking_B_To_B.rcvd_wgt}}</td>
                                <td style="color: black;">{{stock_non_booking_B_To_B.carton_no}}/{{stock_non_booking_B_To_B.total_carton}}</td>
                                <td style="color: black;">{{stock_non_booking_B_To_B.delivery_state_name}}</td>
                                </tr>
                            </tbody>
                            </table>
                            </div>
                    </div>
                </div>
            </ng-template>
            <ng-template #modalFooter>
                <button type="button" (click)="save2()" class="btn btn-primary ltr:ml-4 rtl:mr-4">Save</button>
            </ng-template>
        </modal>
    </div>




    <modal #updatemodal class="modal-top ">
        <ng-template #modalHeader> <div>Update Reason</div> </ng-template>
        <ng-template #modalBody>
            <div class="flex">
                <div class="w-full text-center">
                    <select class="form-select w-[80%]">
                        <option value="" disabled selected hidden="">Select-Reason</option>
                        <option *ngFor="let ReasonCombobox_b_to_b of ReasonCombobox_b_to_b"
                        value="{{ReasonCombobox_b_to_b.ctn_ststus_id}}">{{ReasonCombobox_b_to_b.ststus_name}}</option>
                    </select>
                </div>
            </div>
        </ng-template>
        <ng-template #modalFooter>
            <button type="button" (click)="update($event, valForm.value)" class="btn btn-outline-warning">Update</button>
            <button type="button" (click)="updatemodal.close()" class="btn btn-primary ltr:ml-4 rtl:mr-4">Cancel</button>
        </ng-template>
    </modal>


    <modal #deleteModal class="modal-top ">
        <ng-template #modalHeader> <div>Delete Reason</div> </ng-template>
        <ng-template #modalBody>
            <div class="flex">
                <div class="w-full text-center">
                    <select class="form-select w-[80%]">
                        <option value="" disabled selected hidden="">Select-Reason</option>
                        <option *ngFor="let ReasonCombobox_b_to_b of ReasonCombobox_b_to_b"
                        value="{{ReasonCombobox_b_to_b.ctn_ststus_id}}">{{ReasonCombobox_b_to_b.ststus_name}}</option>
                    </select>
                </div>
            </div>
        </ng-template>
        <ng-template #modalFooter>
            <button type="button" (click)="delete()" class="btn btn-outline-danger">Delete</button>
            <button type="button" (click)="deleteModal.close()" class="btn btn-primary ltr:ml-4 rtl:mr-4">Cancel</button>
        </ng-template>
    </modal>