<!-- <form [formGroup]="valForm"> -->
<!-- <form [formGroup]="valForm"> -->
<ol class="flex flex-wrap items-center gap-y-4 font-semibold text-gray-500 dark:text-white-dark mb-3">
    <li>
        <a href="javascript:;"
            class="flex items-center justify-center rounded-md border border-gray-500/20 p-2.5 shadow hover:text-gray-500/70 dark:border-0 dark:bg-[#191e3a] dark:hover:text-white-dark/70">
            <icon-home />
        </a>
    </li>
    <!-- <li
        class="flex items-center before:relative before:-top-0.5 before:mx-4 before:inline-block before:h-1 before:w-1 before:rounded-full ">
        <a href="javascript:;"
            class="flex items-center justify-center rounded-md border border-gray-500/20 p-2.5 text-primary shadow dark:border-0 dark:bg-[#191e3a]">
            <icon-users-group class="shrink-0 ltr:mr-2 rtl:ml-2" />

            Customer
        </a>
    </li> -->
    <li
        class="flex items-center before:relative before:-top-0.5 before:mx-4 before:inline-block before:h-1 before:w-1 before:rounded-full before:bg-primary">
        <a href="javascript:;" routerLink="/wareHouseShipment/FinalInvoice" [queryParams]="{filterSettings : filterSettings}"
            class="flex items-center justify-center rounded-md border border-gray-500/20 p-2.5 text-primary shadow dark:border-0 dark:bg-[#191e3a]">
            <icon-box class="shrink-0 ltr:mr-2 rtl:ml-2" />

            Final Invoice
        </a>
    </li>
    <li
        class="flex items-center before:relative before:-top-0.5 before:mx-4 before:inline-block before:h-1 before:w-1 before:rounded-full before:bg-primary">
        <button
            class="flex items-center justify-center rounded-md border border-gray-500/20 p-2.5 shadow hover:text-gray-500/70 dark:border-0 dark:bg-[#191e3a] dark:hover:text-white-dark/70">
            <icon-cpu-bolt class="ltr:mr-2 rtl:ml-2" />
            Final Invoice Generation
            <!-- <icon-caret-down class="inline-block ltr:ml-1 rtl:mr-1" /> -->
        </button>


    </li>

</ol>

<div>
    <div class="flex flex-col gap-0.5 lg:flex-row">
        <div class="panel flex-1 px-0 py-0 ltr:lg:mr-1 rtl:lg:ml-6">
            <div class="p-6 bg-white rounded-lg shadow-md max-w-4xl mx-auto mt-10">
                <div
                    class="flex flex-col md:flex-row md:items-start md:justify-between space-y-6 md:space-y-0 md:space-x-12">
                    <div class="flex-1 space-y-4">

                        <div class="text-gray-600 text-sm space-y-1">
                            <h3 class="font-semibold">Sender Details - {{invoice_list[0]?.payment_status}}</h3>   
                          <p>{{selectedDetails.sender_name}}</p>
                            <p>{{ selectedDetails.sender_address }}
                                {{ selectedDetails.sender_city }},
                                {{ selectedDetails.sender_pincode }},
                                {{ selectedDetails.origin_country }}</p>

                            <p>{{ selectedDetails.sender_mail }}</p>
                            <p>{{ selectedDetails.sender_mobile }}</p>
                        </div>


                    </div>
                    <div class="flex-1 space-y-4 w-full md:w-auto">
                        <div *ngIf="selectedDetails.freeAgentRef" class="flex items-center justify-between">
                            <label for="invoice-number" class="text-gray-700 font-semibold text-sm">Invoice
                                Number</label>
                            <input type="text" id="invoice-number" [(ngModel)]="selectedDetails.freeAgentRef"
                                class="border rounded-md px-3 py-2 text-gray-800 w-3/5 focus:outline-none focus:ring-2 focus:ring-blue-500" />
                        </div>

                        <div class="flex items-center justify-between">
                            <label for="invoice-date" class="text-gray-700 font-semibold text-sm">Invoice Date</label>
                            <div class="relative w-3/5">
                                <input type="date" id="invoice-date" [(ngModel)]="selectedDetails.hawb_date"
                                    class="border rounded-md px-3 py-2 text-gray-800 w-full focus:outline-none focus:ring-2 focus:ring-blue-500" />
                            </div>
                        </div>

                    </div>
                </div>

                <hr class="my-8 border-gray-200">

                <div class="space-y-4">
                    <!-- Add overflow wrapper -->
                    <div class="overflow-x-auto">
                        <table class="min-w-full table-auto">
                            <thead>
                                <tr class="text-gray-500 font-semibold text-sm border-b">
                                    <th class="py-2 px-4 text-left">Item</th>
                                    <th class="py-2 px-4 text-left">Quantity</th>
                                    <th class="py-2 px-4 text-right">Price</th>
                                    <th class="py-2 px-4 text-right">Vat</th>
                                    <th class="py-2 px-4 text-right">Total</th>
                                    <th class="py-2 px-4">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="border-b" *ngFor="let item of editingData; let i = index">
                                    <!-- Quantity -->
                                    <td class="py-2 px-4 align-top">
                                        {{ item.quantity }}
                                    </td>

                                    <!-- Description -->
    <td class="py-2 px-4 align-top description-cell">
                                        {{ item.description }}
                                    </td>

                                    <!-- Unit Price -->
                                    <td class="py-2 px-4 text-right align-top">
                                        £{{ item.unit_price | number:'1.2-2' }}
                                    </td>

                                    <!-- VAT -->
                                    <td class="py-2 px-4 text-right align-top">
                                        {{ item.VAT || 0 }}
                                    </td>

                                    <!-- Total -->
                                    <td class="py-2 px-4 text-right align-top">
                                        £{{ (item.quantity * item.unit_price) | number:'1.2-2' }}
                                    </td>
                                    <td class="py-2 px-4">
                                        <div class="flex items-center space-x-2">
                                            <span (click)="getFreeAgentAutoComplete();openEditPopup(i);">
                                                <icon-notes-edit
                                                    class="h-6 w-6 cursor-pointer text-blue-600 hover:text-blue-800" />
                                            </span>
                                            <span (click)="removeRow(i)"> <icon-trash
                                                    class="h-6 w-6 cursor-pointer text-red-600 hover:text-red-800" /></span>
                                        </div>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="w-full md:w-1/2">
                        <button (click)="addRow()" type="button"
                            class="bg-blue-600 text-white font-semibold py-2 px-4 rounded-md shadow-sm hover:bg-blue-700 transition-colors">
                            Add Item
                        </button>
                    </div>
                </div>


                <div class="flex flex-col md:flex-row md:justify-between mt-8 space-y-6 md:space-y-0">
                    <div class="w-full md:w-1/2">
                        <!-- <button
                            class="bg-blue-600 text-white font-semibold py-2 px-4 rounded-md shadow-sm hover:bg-blue-700 transition-colors">Add
                            Item</button> -->
                    </div>

                    <div class="w-full md:w-1/2 flex flex-col items-end text-sm text-gray-700">
                        <div class="w-full space-y-2">
                            <div class="flex justify-between">
                                <span class="font-semibold">Subtotal</span>
                                <span>£{{ getNetTotal() | number:'1.2-2' }}</span>
                            </div>
                            <div class="flex justify-between">
                                <span class="font-semibold">Tax(%)</span>
                                <span>£{{ getVATAMt() | number:'1.2-2'}}</span>
                            </div>

                            <div class="flex justify-between font-bold text-lg pt-2 border-t mt-2">
                                <span>Total</span>
                                <span> £{{ getGBPAmount() + getVATAMt() | number:'1.2-2' }}</span>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
            <div class="overflow-auto shadow-lg rounded-lg max-h-[80vh]">

                <table class="table-auto w-full border-collapse rounded-lg bg-white">
                    <thead style="position: sticky; top: 0;z-index: 1;">
                        <tr class="text-center text-xs uppercase">
                            <th>SR NO.</th>
                            <th>Box Type</th>
                            <th>HAWB NO.</th>
                            <th>Received Date</th>
                            <th>Box No.</th>
                            <th>Act. Weight (kg)</th>

                            <th>Length (cm)</th>
                            <th>Width (cm)</th>
                            <th>Height (cm)</th>

                            <th>Vol. Weight</th>
                            <th>Chargeable Weight</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- In your template -->
                        <tr *ngFor="let item of ReceivedColoaderDate; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{item.item_type}}</td>
                            <td>{{item.invoice_no}}</td>
                            <td>{{item.created_time}}</td>
                            <td>{{item.carton_no}}</td>
                            <td>{{item.act_wgt | number:'1.2-2'}}</td>
                            <td>{{item.length | number:'1.2-2'}}</td>
                            <td>{{item.width | number:'1.2-2'}}</td>
                            <td>{{item.height | number:'1.2-2'}}</td>
                            <td>{{ item.vol_weight | number:'1.2-2' }}</td>
                            <td>{{ item.chrg_weight | number:'1.2-2' }}</td>
                            <td>
                                <span ngxTippy="Not Updated" class="badge bg-danger" *ngIf="item.update_status != 1">
                                    <i class="fas fa-times-circle"></i>
                                </span>
                                <span ngxTippy="Updated" class="badge bg-success" *ngIf="item.update_status == 1">
                                    <i class="fas fa-check-circle"></i>
                                </span>
                            </td>
                            <td><span class="text-red-500 cursor-pointer" (click)="deleteCartonDetail(item)"><icon-trash
                                        class="h-5 w-5" />
                                </span></td>
                        </tr>

                    </tbody>

                </table>
            </div>
        </div>
     <div class="mt-6 w-full lg:mt-0 lg:w-96" *ngIf="invoice_list?.[0]">
    <div class="panel">
        <!-- {{selectedDetails?.payment_status}} -->
        <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-1 lg:grid-cols-1 xl:grid-cols-1"
            [ngSwitch]="invoice_list[0].invoice_api_status">

            <ng-template #creditNote>
                <button [disabled]="anyNotUpdated" type="button" class="btn btn-success w-full gap-2"
                    (click)="createInvoice_freeAgent_CreditNote()">
                    <icon-save class="shrink-0 ltr:mr-2 rtl:ml-2" />
                    Generate Credit Invoice
                </button>
            </ng-template>

            <ng-template #creditNote1>
                <button [disabled]="anyNotUpdated" type="button" class="btn btn-success w-full gap-2"
                    (click)="createInvoice_freeAgent_CreditNote()">
                    <icon-save class="shrink-0 ltr:mr-2 rtl:ml-2" />
                    Update Credit Invoice
                </button>
            </ng-template>

            <ng-container *ngSwitchCase="'0'">
                <button [disabled]="anyNotUpdated" *ngIf="getGBPAmount() + getVATAMt() >= 0; else creditNote"
                    type="button" class="btn btn-success w-full gap-2" (click)="createInvoice_freeAgent()">
                    <icon-save class="shrink-0 ltr:mr-2 rtl:ml-2" />
                    Generate Invoice
                </button>
                <button type="button" class="btn btn-info w-full gap-2" (click)="callNotesFile()">
                    <icon-save class="shrink-0 ltr:mr-2 rtl:ml-2" />
                    Add Notes
                </button>
                <button type="button" class="btn btn-primary w-full gap-2" (click)="goBack()">
                    <icon-logout class="shrink-0 ltr:mr-2 rtl:ml-2" />
                    Back To Main Menu
                </button>
            </ng-container>

            <ng-container *ngSwitchCase="'1'">
                <button [disabled]="anyNotUpdated" *ngIf="getGBPAmount() + getVATAMt() >= 0; else creditNote1"
                    type="button" class="btn btn-success w-full gap-2" (click)="createInvoice_freeAgent()">
                    <icon-save class="shrink-0 ltr:mr-2 rtl:ml-2" />
                    Update Invoice
                </button>
                <button type="button" class="btn btn-warning w-full gap-2"
                    (click)="mark_invoice_payment_read(invoice_list[0],'M')">
                    <icon-refresh class="shrink-0 ltr:mr-2 rtl:ml-2" />
                    Mark As Sent
                </button>
                <button type="button" class="btn btn-danger w-full gap-2"
                    (click)="deleteInvoice(invoice_list[0])">
                    <icon-download class="shrink-0 ltr:mr-2 rtl:ml-2" />
                    Delete Invoice
                </button>
                <button type="button" class="btn btn-info w-full gap-2" (click)="callNotesFile()">
                    <icon-save class="shrink-0 ltr:mr-2 rtl:ml-2" />
                    Add Notes
                </button>
                <button type="button" class="btn btn-primary w-full gap-2" (click)="goBack()">
                    <icon-logout class="shrink-0 ltr:mr-2 rtl:ml-2" />
                    Back To Main Menu
                </button>
            </ng-container>

            <ng-container *ngSwitchCase="'2'">
               <button *ngIf="invoice_list[0]?.payment_status === 'npd' || invoice_list[0]?.payment_status === 'no'"
                    class="btn btn-success w-full gap-2" (click)="calculateDate(invoice_list[0], 'yes')">
                    <i class="fa fa-check shrink-0 ltr:mr-2 rtl:ml-2"></i>
                    Paid
                </button>

                <button *ngIf="invoice_list[0]?.payment_status === 'yes' || invoice_list[0]?.payment_status === 'npd'"
                    class="btn btn-danger w-full gap-2" (click)="calculateDate(invoice_list[0], 'no')">
                    <i class="fa fa-times-circle shrink-0 ltr:mr-2 rtl:ml-2"></i>
                    Not Paid
                </button>

                <button *ngIf="invoice_list[0]?.payment_status === 'yes' || invoice_list[0]?.payment_status === 'no'"
                    class="btn btn-info w-full gap-2" (click)="calculateDate(invoice_list[0], 'npd')">
                    <i class="fa fa-arrow-up-circle shrink-0 ltr:mr-2 rtl:ml-2"></i>
                    Unpaid but Departed
                </button>
                <button type="button" class="btn btn-secondary w-full gap-2"
                    (click)="mark_invoice_payment_read(invoice_list[0],'D')">
                    <icon-refresh class="shrink-0 ltr:mr-2 rtl:ml-2" />
                    Mark As Draft
                </button>
                <button type="button" class="btn btn-success w-full gap-2"
                    (click)="send_final_invoice(invoice_list[0])">
                    <icon-save class="shrink-0 ltr:mr-2 rtl:ml-2" />
                    Send Invoice    
                </button>
                <button type="button" class="btn btn-info w-full gap-2" (click)="callNotesFile()">
                    <icon-save class="shrink-0 ltr:mr-2 rtl:ml-2" />
                    Add Notes
                </button>
                <button type="button" class="btn btn-primary w-full gap-2" (click)="goBack()">
                    <icon-logout class="shrink-0 ltr:mr-2 rtl:ml-2" />
                    Back To Main Menu
                </button>
            </ng-container>

            <ng-container *ngSwitchCase="'3'">
                <button *ngIf="invoice_list[0]?.payment_status === 'npd' || invoice_list[0]?.payment_status === 'no'"
                    class="btn btn-success w-full gap-2" (click)="calculateDate(invoice_list[0], 'yes')">
                    <i class="fa fa-check shrink-0 ltr:mr-2 rtl:ml-2"></i>
                    Paid
                </button>

                <button *ngIf="invoice_list[0]?.payment_status === 'yes' || invoice_list[0]?.payment_status === 'npd'"
                    class="btn btn-danger w-full gap-2" (click)="calculateDate(invoice_list[0], 'no')">
                    <i class="fa fa-times-circle shrink-0 ltr:mr-2 rtl:ml-2"></i>
                    Not Paid
                </button>

                <button *ngIf="invoice_list[0]?.payment_status === 'yes' || invoice_list[0]?.payment_status === 'no'"
                    class="btn btn-info w-full gap-2" (click)="calculateDate(invoice_list[0], 'npd')">
                    <i class="fa fa-arrow-up-circle shrink-0 ltr:mr-2 rtl:ml-2"></i>
                    Unpaid but Departed
                </button>
                <button type="button" class="btn btn-secondary w-full gap-2"
                    (click)="mark_invoice_payment_read(invoice_list[0],'D')">
                    <icon-refresh class="shrink-0 ltr:mr-2 rtl:ml-2" />
                    Mark As Draft
                </button>
                <button type="button" class="btn btn-success w-full gap-2"
                    (click)="send_final_invoice(invoice_list[0])">
                    <icon-save class="shrink-0 ltr:mr-2 rtl:ml-2" />
                    Re-send Invoice
                </button>
                <button type="button" class="btn btn-info w-full gap-2" (click)="callNotesFile()">
                    <icon-save class="shrink-0 ltr:mr-2 rtl:ml-2" />
                    Add Notes
                </button>
                <button type="button" class="btn btn-primary w-full gap-2" (click)="goBack()">
                    <icon-logout class="shrink-0 ltr:mr-2 rtl:ml-2" />
                    Back To Main Menu
                </button>
            </ng-container>

            <ng-container *ngSwitchDefault>
                <button type="button" class="btn btn-primary w-full gap-2" (click)="goBack()">
                    <icon-logout class="shrink-0 ltr:mr-2 rtl:ml-2" />
                    Back To Main Menu
                </button>
            </ng-container>

        </div>
    </div>
</div>

    </div>
</div>
<modal #modal7 class="modal-top extra-large-modal" backdrop="static">
    <ng-template #modalHeader>
        <div>Add Notes</div>
    </ng-template>

    <ng-template #modalBody>
        <app-add-notes></app-add-notes>
    </ng-template>


</modal>

<modal #editItemModal class="no-footer">
    <ng-template #modalHeader>
        <div class="!font-medium"></div>
    </ng-template>
    <ng-template #modalBody>
        <form class="text-sm">
            <div class="mb-5">
                <label for="name">User Name</label>
                <ng-select [items]="suggestionData" bindLabel="label" [clearable]="false" [searchable]="true"
                    [formControl]="accountNoControl" (change)="selectSuggestion($event)">
                </ng-select>


            </div>
            <div class="mb-3">
                <label for="quantity">Quantity</label>
                <input type="number" id="quantity" class="form-input" [(ngModel)]="editItem.quantity" name="quantity"
                    min="1">
            </div>

            <div class="mb-3">
                <label for="description">Details</label>
                <textarea id="description" class="form-input" [(ngModel)]="editItem.description" name="description"
                    rows="2"></textarea>
            </div>

            <div class="mb-3">
                <label for="unit_price">Unit Price (£)</label>
                <input type="number" id="unit_price" class="form-input" [(ngModel)]="editItem.unit_price"
                    name="unit_price" min="0" step="0.01">
            </div>

            <div class="mb-3">
                <label for="VAT">VAT (%)</label>
                <input type="text" id="VAT" class="form-input" [(ngModel)]="editItem.VAT" name="VAT">
            </div>

            <div class="mt-8 flex items-center justify-end">
                <button type="button" class="btn btn-outline-danger gap-2"
                    (click)="editItemModal.close()">Cancel</button>
                <button type="submit" class="btn btn-primary ltr:ml-4 rtl:mr-4" (click)="saveEdit()">Save</button>
            </div>
        </form>
    </ng-template>
</modal>




<modal #paymentStsupdate class="modal-top extra-large-modal" backdrop="static">
    <ng-template #modalHeader>
        <div>Send Final Mail</div>
    </ng-template>

    <ng-template #modalBody>
        <div class="h-px bg-gradient-to-l from-indigo-900/20 via-black to-indigo-900/20 opacity-[0.1] dark:via-white">
        </div>
        <form [formGroup]="params" class="grid gap-6 p-6">
            <div>
                <input type="date" class="form-input" formControlName="date"
                    (change)="Get_NextPickupDate_After14Days_freeagent(params.value.date,receiverPincode)" />
            </div>
            <div>
                <select type="text" class="form-input" placeholder="Enter To" formControlName="paymentSts">
                    <option value="">-- Select Payment Type --</option>
                    <option value="Bank Transfer">Bank Transfer</option>
                    <option value="Cash">Cash</option>
                    <option value="Other">Other</option>
                </select>
            </div>
            <div *ngIf="params.value.paymentSts == 'Other'">
                <input type="text" class="form-input" placeholder="Enter Payment Type"
                    formControlName="customPaymentType" />
            </div>
            <div>
                <label class="w-12 h-6 relative">
                    <input type="checkbox"
                        class="custom_switch absolute w-full h-full opacity-0 z-10 cursor-pointer peer"
                        id="custom_switch_checkbox2" [(ngModel)]="sendMailChecked"
                        [ngModelOptions]="{standalone: true}" />
                    <span for="custom_switch_checkbox2"
                        class="outline_checkbox bg-icon border-2 border-[#ebedf2] dark:border-white-dark block h-full rounded-full before:absolute before:left-1 before:bg-[#ebedf2] dark:before:bg-white-dark before:bottom-1 before:w-4 before:h-4 before:rounded-full before:bg-[url(/assets/images/close.svg)] before:bg-no-repeat before:bg-center peer-checked:before:left-7 peer-checked:before:bg-[url(/assets/images/checked.svg)] peer-checked:border-primary peer-checked:before:bg-primary before:transition-all before:duration-300"></span>
                </label>
            </div>
                        <span *ngIf=" sendMailChecked  && isOdiLocation" class="text-red-500">* ODA Location Deliveries Take 21 Working Days.</span>

            <div>
                <input *ngIf="sendMailChecked" type="text" class="form-input" placeholder="Enter To"
                    formControlName="to" />
            </div>


            <!-- Editor -->
            <div *ngIf="sendMailChecked" class="h-fit">
                <quill-editor #editor [modules]="editorOptions" placeholder="" formControlName="description"
                    class="w-full" style="min-height: 200px"
                    (onContentChanged)="quillEditorReady($event)"></quill-editor>
            </div>

            <!-- File upload -->

            <!-- ✅ Radio Buttons for Send Type -->

            <!-- Buttons -->
            <div class="mt-8 flex items-center ltr:ml-auto rtl:mr-auto">
                <button type="button" class="btn btn-outline-danger ltr:mr-3 rtl:ml-3"
                    (click)="paymentStsupdate.close()">
                    Close
                </button>
                <button type="button" class="btn btn-primary" (click)="afterConformationPAyment(sendMailChecked)">
                    {{ sendMailChecked ? 'Send Mail' : 'Paid' }}
                </button>

            </div>
        </form>


    </ng-template>



</modal>