@import 'tippy.js/dist/tippy.css';
@import 'highlight.js/styles/monokai-sublime.css';
@import 'swiper/swiper-bundle.min.css';
@import 'ngx-lightbox/lightbox.css';
@import '@ng-select/ng-select/themes/default.theme.css';
@import 'quill/dist/quill.snow.css';
@import 'easymde/dist/easymde.min.css';
@import 'file-upload-with-preview/dist/style.css';
@import 'flatpickr/dist/flatpickr.min.css';
@import 'nouislider/dist/nouislider.min.css';
@import 'tailwind.css';




.bgcolor{
    background-color: rgb(156, 192, 233);
}

.card{
    border: none;
}

.borderRadius{
    border-radius: 8px;
}
.form-control{
  
    height: 80%;
}


fieldset{
    border: 1px solid gray;
}

/* Add this style to your component's CSS file */

/* Add this style to your component's CSS file */








input{
    font-weight: 600;
    font-size: 13px;
}

  path{
    font-weight: bold;
    background-color: red;
  }
  
  .centerIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #202d47;
    border-radius: 8px;
    height: 60px !important;
    width: 40px !important;
    zoom:50%;

    
   
  }



  .columnBorder{
   box-shadow: 1px 1px 1px 0.5px gray;
    background-color: white;
  }

  .buttonAlign{
    height: 60px;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

 @media  (min-width:768px) and (max-width:1024px) {
    .buttonAlign{
      
        width:8.1rem;
        height: 50px !important;
       
      }
   
  svg{
    position: relative;
    left: -20px;
   
  }
  .ManualDetailsHeight{
    height:40px !important;
    font-size:small;
  }
  #overflow{
    
    height:5rem;
      overflow-y: auto;
      overflow-x: auto;
     
    }

  #overflowTableTwo{
   
    height:10rem;
      overflow-y: auto;
      /* overflow-x: scroll; */
  }

     .centerIcon{
       display: flex;
       align-items: center;
       justify-content: center;
    
       position: relative;
      
     }

     svg{
      left: 6px;
     }

 }

 @media (min-width:1024px) and (max-width:1440px){
    .buttonAlign{
      
        width: 8.1rem;
       
      }
   
    #overflow{
     
      height: 15rem;
        overflow-y: auto;
        overflow-x: auto;

       
      }

      #overflowTableTwo{
       
        height:20rem !important;
          overflow-y: auto;
          /* overflow-x: scroll; */
      }
      .ManualDetailsHeight{
        height: 40px !important;
        font-size:small;
      }
     

      .AccountDetailsHeight{
        height:40px!important;
        font-size:medium;
        
      }
     
 }

 @media (min-width:425px) and (max-width:768px){
    .buttonAlign{
      
        width: 100px;
        height: 30px;
        font-size: smaller;
       
      }
  

    #overflow{
      
      height:13.5rem;
     overflow: auto;
        
      }

      #overflowTableTwo{
       
        height:400px;
          overflow-y: auto;
          /* overflow-x: scroll; */
      }

      .ManualDetailsHeight{
        height: 40px !important;
        font-size:small;
      }
      svg{
        zoom: 150%;
      }

      
      
 }

 @media (min-width:375px) and (max-width:425px){
  .buttonAlign{
    margin-top: 10px;
  }
  .custom-col {
    flex: 0 0 25%;
    max-width: 50%;
  }
  .AccountDetailsHeight{
    height:40px!important;
    font-size:x-small;
  }

  #overflow{
   
    height:20rem;
      overflow: auto;
     
    }

    #overflowTableTwo{
     
      height:10rem;
        overflow-y: auto;
        /* overflow-x: scroll; */
    }
 }

 @media (min-width:320px)and (max-width:375px){
  .buttonAlign{
    margin-top: 0px;
    height: 25px;
    font-size: smaller;
    margin-top: 12px;
  }

  .custom-col {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .AccountDetailsHeight{
    height: 40px !important;
    font-size:x-small;
  }


#overflow{
 
  height:18rem;
    overflow: auto;
}  

  #overflowTableTwo{
   
    height:5rem;
      overflow-y: auto;
      /* overflow-x: scroll; */
  }

 }

    /* Custom CSS for 320px width */
   @media (max-width: 320px) {
      .custom-col {
        flex: 0 0 50%;
        max-width: 50%;
      }

      .AccountDetailsHeight{
        height:40px !important;
        font-size:x-small;
      }

    
      #overflow{
       
        height:18rem;
          overflow: auto;
          
        }

        .ManualDetailsHeight{
          height:40px!important;
          font-size:small;
        }
    }


  .buttonDecor{
    border-radius: 10px;
    background-color: #202d47;
    color: white;
  }
  
.outlineDesign{
    border: 1px solid #e6e6e6;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    color: #717172;
    font-size: 12px;
    font-weight: bold;

}



  
  .seachIcon{
    color: white;
    font-size: larger;
    font-weight: bolder;
  }
 
  .custom-container {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    /* margin: 20px; */
  }
  
  .border-content {
    position: absolute;
    top: -10px; /* Adjust as needed */
    left: 10px; /* Adjust as needed */
  
    padding: 0 5px;
    font-weight: bold;
   
  }
  
  .custom-content {
    margin-top: 20px; /* Adjust as needed */
  }
  
  .butDesign{
    border-radius: 8px;
    color: white;
    /* background-color: #202d47; */
    height: 60%;
    padding-bottom: 1px;
    padding-top: 1px;
    padding-left: 10px !important;
    padding-right: 10px !important;
    cursor: auto;
  }
  .item_table_tr td
  {
    padding: 2px 10px;
    color: darkgreen;
    font-weight: bold;
    font-size: smaller;
    border: 1px solid rgb(235, 233, 233);
  }

  .custom-row {
    border: 1px solid gray;
    border-radius: 8px;
    position: relative;
  }
  
  .borderCon {
    position: absolute;
    top: -20px; /* Adjust as needed */
    left: 50%; /* Adjust as needed */
    background-color: white;
    padding: 0 5px;
    font-weight: bold;
    transform: translateX(-50%); /* Center horizontally */
  }
  
  .custom-header {
    height: 50px; /* Adjust as needed */
    background-color: white !important;
  }
  
 
  
  .headerBold{
    font-weight: bold;
  }

  .heightOfHeading{
    height:40px !important;
    text-align: center;
    font-size: small;
    font-weight: 700;
  }

 
tbody td{
  font-weight: 100;
  text-align: center;
  white-space: nowrap

}

.th2{
  color: rgb(238, 231, 231);
  font-size: 12px;
  background-color: rgb(67 97 238);
  padding: 5px 10px;
  border: 1px solid rgb(230, 230, 230);
 
} 

.inputBorderColor{
border-color:#8d8d8e !important;
border-radius: 20px !important;
}

.cartonStyle{
  font-weight: 500;
  font-size: small;
}
.itemTypeStyle{
  font-weight: 500;
  font-size: small;

}
.invoiceStyle{
  font-weight: 500;
  font-size: small;
}

/* .badgeStyle{
  
  display: inline-block;
  height: 20px;
  width: 20px;
  text-align: center;
  border-radius: 50%;
  font-size: 12px;
  font-weight: 600;
}
.badgeStyleTwo{
 
  display: inline-block;
  height: 20px;
  width: 20px;
  text-align: center;
  border-radius: 50%;
  font-size: 12px;
  font-weight: 300;
} */

.badgeStyleThree{
  border-radius: 30px;
 
}
.badgeStyleFour{
  /* border-radius: 30px; */
  background-color:#ea9bac ;
  color: #9e2740;
  font-weight: bold;
}
.badgeStyleFive{
  /* border-radius: 30px; */
  background-color:#8af8a6 ;
  color:#278c42 ;
  font-weight: bold;
}
.btn-custom {
  height: 1.75rem; /* Adjust the height as per your requirement */
  padding: 0.375rem 0.75rem; /* Adjust padding to maintain button proportions */
  font-size: 0.875rem; /* Adjust font size to maintain text size */
}

.select-arrow {
  position: relative; /* Establishing a positioning context */
}

.select-arrow::after {
  content: '\25BC'; /* Unicode arrow character */
  position: absolute;
  top: 50%;
  right: 10px; /* Adjust as needed */
  transform: translateY(-50%);
  pointer-events: none; /* Ensure the arrow doesn't interfere with clicking on the select */
}

.tableColor{
  background-color: #23b7e5;
  color: white;
  font-weight: 100 !important;
}

.tableColor th{
  font-weight: 500 !important;
}

.labelStyle{
  font-weight:bold;
  font-size: 15px;
  color: #4d4e4e;
  /* background-color: #ba27a1; */
}






.alignsearch{
  position: relative; left: -32.2px;
  height: 30px;
}

.CartonBorderStyle{
    border: 1px solid rgba(193, 192, 192, 0.645);
    border-radius: 8px;
    }
    
    .SaveButtonStyle{
      border-radius: 20px;
      background-color: rgb(105, 160, 80);
      color: white;
      padding: 1px;
      padding-left: 3px;
      padding-right: 3px;
    }
    
    *{
      /* font-family: 'Times New Roman', Times, serif; */
      font-weight: 400;
    }
    
    .ItemNameInput{
      width: 200px;
    }
    
    .buttDesign{
      border-radius: 20px;
      /* padding: 1px; */
      padding-left: 4px !important;
      padding-right: 4px !important;
      margin: 2px;
    }
    .buttColorgreen{
      background-color: rgb(37, 130, 37);
      color: white;
    }
    .buttColorBlue{
      background-color: rgb(51, 54, 229);
      color: white;
    }
    
    .form-control{
      height: 28px !important;
    }
    
    .custom-select{
      height: 30px !important;
      padding: 1px !important;
    }

    .designDiv{
        font-size: 14px;
        font-weight: bold;
        color:rgb(9, 10, 37);
      }
    
      .btnHeight {
        height: 25px; /* Adjust the height as per your requirement */
        /* line-height: 20px;  */
        /* width: 180px; */
        display: flex;
        align-items: center;
        justify-content:center ;
        font-size: medium;
      }
    
      .inputDecor{
        border-radius: 30px;
        width: 130px;
        height: 25px;
       
        font-weight: bold;
        font-size: 15px;
        margin-top: none !important;
      }
    
      .inputDecor:focus{
        outline: none !important;
        outline-color:#edc2e5 !important ;
        border: none;
        border-color: rgb(211, 124, 222);
      }
    
      .inputDecor:hover{
       /* background-color: rgb(226, 72, 208); */
      }
    
      .inputColorOne{
        background-color:rgb(178, 220, 236);
        color: #0e3748 !important;
      }
      .inputColorTwo{
        background-color:#ffd378 ;
        color: #5e4a23;
      }
    
      .overflowTableThree{
        height: 300px;
        overflow: scroll;
      }
      .custom-input{
        height:30px ;
        
      }
    
      .custom-widthOne{
        width: 100px ;
      }
    
      .custom-widthTwo{
        width: 00px ;
      }

      .inpColor input{
        border-color: grey;
      }
      input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }
      .order-tax input
      {
        border: 0.5px solid rgb(213, 185, 185);
        border-radius: 5px;
        font-weight: 100;
        font-size: medium !important;
      }
      .order-qty
      {
        color:olive;
        text-align: center;
        font-size: medium !important;
      }
      .bill_table td{
        font-size: smaller;
        padding: 3px 15px;
      }
      .bill_table tr{
        padding: 0px;
      }
      .row_1
      {
        background-color:rgb(213, 229, 230);
      }
      .row_2
      {
        background-color:rgb(255, 255, 255);
      }
      .order-subtotal td
      {
        padding: 15px ;
      }