<ol class="flex flex-wrap items-center gap-y-4 font-semibold text-gray-500 dark:text-white-dark mb-3">
  <li>
    <a href="javascript:;"
      class="flex items-center justify-center rounded-md border border-gray-500/20 p-2.5 shadow hover:text-gray-500/70 dark:border-0 dark:bg-[#191e3a] dark:hover:text-white-dark/70">
      <icon-home />
    </a>
  </li>
  <li
    class="flex items-center before:relative before:-top-0.5 before:mx-4 before:inline-block before:h-1 before:w-1 before:rounded-full ">
    <a href="javascript:;"
      class="flex items-center justify-center rounded-md border border-gray-500/20 p-2.5 text-primary shadow dark:border-0 dark:bg-[#191e3a]">
      <icon-users-group class="shrink-0 ltr:mr-2 rtl:ml-2" />

       Check Weight
    </a>
  </li>

  

</ol>



<div class="vibrant-header text-center col-12">
</div>
<form class="mx-auto mb-5 w-full sm:w-1/2">
  <div class="relative">
    <input type="text" placeholder="Search Hawb..."
      class="form-input h-11 rounded-full bg-white shadow-[0_0_4px_2px_rgb(31_45_61_/_10%)] placeholder:tracking-wider ltr:pr-11 rtl:pl-11"
      [(ngModel)]="invoiceFilter" (input)="loadData()" name="search" />
    <button type="button"
      class="btn btn-primary absolute inset-y-0 m-auto flex h-9 w-9 items-center justify-center rounded-full p-0 ltr:right-1 rtl:left-1">
      <icon-search class="mx-auto" (click)="loadData()" />
    </button>
  </div>
</form>
<div class="container-fluid">
  <!-- <div class="row mb-4">
      <div class="col-lg-3">
        <label class="block text-sm font-medium">HAWB NUMBER</label>
        <input type="text" class="form-input w-1/2 border border-gray-300 rounded-lg px-3 py-2 focus:ring-2 focus:ring-purple-500" 
               [(ngModel)]="invoiceFilter" (input)="loadData()" placeholder="Search HAWB..." maxlength="6">
      </div>
    </div>
   -->

  <div class="grid grid-cols-1" *ngIf="ReceivedColoaderDate?.length">
    <div class="col-span-1">
      <div class="flex justify-end">
        <button (click)="addNewRow()" class="btn btn-primary">Add Row</button>

      </div>
      <div class="overflow-auto shadow-lg rounded-lg max-h-[80vh]">

        <table class="table-auto w-full border-collapse rounded-lg bg-white">
          <thead style="position: sticky; top: 0;z-index: 1;">
            <tr class="text-center text-xs uppercase">
              <th>SR NO.</th>
              <th>Box Type</th>
              <th>HAWB NO.</th>
              <th>Received Date</th>
              <th>Box No.</th>
              <th>Act. Weight (kg)</th>

              <th>Length (cm)</th>
              <th>Width (cm)</th>
              <th>Height (cm)</th>

              <th>Vol. Weight</th>
              <th>Chargeable Weight</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <!-- In your template -->
            <tr *ngFor="let item of ReceivedColoaderDate; let i = index">
              <td>{{i+1}}</td>
              <td>
                {{item.item_type}}
                <!-- <input #invoiceInput type="text" class="form-control form-control-sm" [(ngModel)]="item.invoice_no"
                  (keydown.tab)="focusNext(invoiceInput, $event)" (keydown.enter)="focusNext(invoiceInput, $event)"> -->
              </td>
              <td>
                {{item.invoice_no}}
                <!-- <input #invoiceInput type="text" class="form-control form-control-sm" [(ngModel)]="item.invoice_no"
                  (keydown.tab)="focusNext(invoiceInput, $event)" (keydown.enter)="focusNext(invoiceInput, $event)"> -->
              </td>
              <td>
                {{item.created_time}}
              </td>
              <td *ngIf="!item.isNew">{{item.carton_no}}</td>
              <td *ngIf="item.isNew"><input type="number" class="rounded border border-gray-300"
                  [(ngModel)]="item.carton_no"> </td>
              <td>
                <input #weightInput type="number" class="form-input p-1 w-full border border-gray-300 rounded-md"
                  [(ngModel)]="item.act_wgt" (keydown.tab)="focusNext(weightInput, $event)"
                  (keydown.enter)="focusNext(weightInput, $event)" (input)="calculateWeights(item)">
              </td>
              <td>
                <input #lengthInput type="number" class="form-input p-1 w-full border border-gray-300 rounded-md"
                  [(ngModel)]="item.length" (keydown.tab)="focusNext(lengthInput, $event)"
                  (keydown.enter)="focusNext(lengthInput, $event)" (input)="calculateWeights(item)">
              </td>
              <td>
                <input #widthInput type="number" class="form-input p-1 w-full border border-gray-300 rounded-md"
                  [(ngModel)]="item.width" (keydown.tab)="focusNext(widthInput, $event)"
                  (keydown.enter)="focusNext(widthInput, $event)" (input)="calculateWeights(item)">
              </td>
              <td>
                <input #heightInput type="number" class="form-input p-1 w-full border border-gray-300 rounded-md"
                  [(ngModel)]="item.height"
                  (keydown.tab)="focusNext(heightInput, $event);submitForm(item, i,heightInput, $event)"
                  (keydown.enter)="focusNext(heightInput, $event);submitForm(item, i,heightInput, $event)"
                  (input)="calculateWeights(item)">
              </td>

              <td>{{ item.vol_weight | number:'1.2-2' }}</td>
              <td>{{ item.chrg_weight | number:'1.2-2' }}</td>
              <td>
                <span ngxTippy="Not Updated" class="badge bg-danger" *ngIf="item.update_status != 1">
                  <i class="fas fa-times-circle"></i>
                </span>
                <span ngxTippy="Updated" class="badge bg-success" *ngIf="item.update_status == 1">
                  <i class="fas fa-check-circle"></i>
                </span>
              </td>
              <td>
                <!-- Update button -->
                <button class="btn btn-sm btn-success rounded mt-3" (click)="submitForm(item, i,weightInput, $event)"
                  [disabled]="loadingIndex === i">
                  <span *ngIf="loadingIndex === i" class="spinner-border spinner-border-sm"></span>
                  Update
                </button>

                <!-- ➕ Add Row button only for last row -->
                <br>

                <!-- ➖ Remove Row button only for new rows -->
                <button *ngIf="item.isNew" class="btn btn-sm btn-danger rounded" (click)="removeRow(i)">Delete</button>
              </td>

            </tr>
          </tbody>
          <tfoot *ngIf="ReceivedColoaderDate.length">
            <tr>
              <td colspan="4" class="text-right">Total</td>
              <td>{{ReceivedColoaderDate.length}}</td>
              <td>{{ getTotalActWeight()}}</td>
              <td colspan="3"></td>
              <td>{{ getTotalVolWeight()}}</td>
              <td>{{ getTotalChargeableWeight()}}</td>
              <td colspan="2"></td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="ReceivedColoaderDate && !ReceivedColoaderDate.length">
    <div class="col-12 text-center text-gray-500">
      No shipment data found for selected criteria
    </div>
  </div>
</div>




