<ol class="flex flex-wrap items-center gap-y-4 font-semibold text-gray-500 dark:text-white-dark mb-3">
    <li>
        <a href="javascript:;"
            class="flex items-center justify-center rounded-md border border-gray-500/20 p-2.5 shadow hover:text-gray-500/70 dark:border-0 dark:bg-[#191e3a] dark:hover:text-white-dark/70">
            <icon-home />
        </a>
    </li>
    <li
        class="flex items-center before:relative before:-top-0.5 before:mx-4 before:inline-block before:h-1 before:w-1 before:rounded-full ">
        <a href="javascript:;"
            class="flex items-center justify-center rounded-md border border-gray-500/20 p-2.5 text-primary shadow dark:border-0 dark:bg-[#191e3a]">
            <icon-users-group class="shrink-0 ltr:mr-2 rtl:ml-2" />

           Sales Quotation
        </a>
    </li>



</ol>

<div class="flex w-full justify-end">
    <div class="flex gap-3 p-4">
        <div>
            <button type="button" class="btn btn-primary" (click)="SendCollectionMAil.open()">
                <icon-user-plus class="ltr:mr-2 rtl:ml-2" />

                Add Sales Quotation
            </button>
        </div>

    </div>


</div>


<ejs-grid appInputSearch [dataSource]="enquiryList" height="500" [allowPaging]="true" [allowSorting]="true"
    [allowFiltering]="true" [allowPaging]='true' [pageSettings]='{ pageSize: 50, pageSizes: [25,50,100,150] }'
    [toolbar]="['Search']" [filterSettings]="{ ignoreAccent: true, hierarchyMode: 'None', type: 'Excel' }"
    [allowTextWrap]="true">
    <e-columns>
        <ng-template #serialTemplate let-data let-rowIndex="rowIndex">
            {{ +data.index + 1 }}
        </ng-template>
        <!-- <e-column headerText='SR NO.' width='80' textAlign='Center' [template]="serialTemplate">


          </e-column> -->
        <e-column field="created_time" headerText="Date" width="180" format="dd-MM-yyyy hh:mm a" textAlign="Center"
            type="dateTime"></e-column>
        <e-column field="shipper_name" headerText="Shipper Name" width="150"></e-column>
        <e-column field="email" headerText="Email" width="180"></e-column>
        <e-column field="contact_no" headerText="Contact No" width="130"></e-column>
        <e-column field="employee_name" headerText="Employee Name" width="150"></e-column>
        <e-column field="created_by" headerText="Sended By" width="150"></e-column>
        <e-column headerText="Status" width="150" textAlign="Center">
            <ng-template #template let-data>
                <!-- Trigger Button with Settings Icon -->
                <div class="flex items-center justify-center gap-4">
                    <button type="button" class="btn btn-sm btn-outline-primary whitespace-nowrap"
                        (click)="sendMail(data)">Re-send</button>
                    <button type="button" class="btn btn-sm btn-outline-danger" (click)="viewMail(data)">View</button>
                </div>


                <!-- Material Menu -->

            </ng-template>

        </e-column>
    </e-columns>
</ejs-grid>


<modal #SendCollectionMAil class="no-footer" [closeOnOutsideClick]="false">
    <ng-template #modalHeader>
        <div class="!font-medium">Send Sales Quotation</div>
    </ng-template>
    <ng-template #modalBody>
        <form [formGroup]="valForm" class="text-sm">
            <div class="mb-5">
                <label for="name">Name</label>
                <input id="name" type="text" placeholder="Enter Name" class="form-input"
                    (input)="InitialCapitalize(nameOfShiper.value)" formControlName="name" #nameOfShiper required=""
                    maxlength="100" />
            </div>
            <div class="mb-5">
                <label for="email">Email</label>
                <input id="email" type="email" placeholder="Enter Email" class="form-input" formControlName="mail" />
            </div>
            <div class="mb-5">
                <label for="phoneCodeSelect">Select Country Code</label>
                <div class="flex gap-2">
                    <select id="phoneCodeSelect" class="form-input ltr:rounded-l-md rtl:rounded-l-md w-1/4"
                        formControlName="country_code">
                        <option value="+44">+44 </option>
                        <option value="+91">+91 </option>
                    </select>
                    <input id="phoneNumber" type="text" placeholder="Enter phone number" formControlName="contact"
                        class="form-input ltr:rounded-r-md rtl:rounded-r-md w-3/4" />
                </div>
            </div>





            <div class="mb-5">
                <label for="occupation">Sales Rep.</label>
                <select id="occupation" type="text" placeholder="Enter Occupation" class="form-input"
                    formControlName="location">
                    <option value="" disabled selected>Select Employee</option>
                    <option *ngFor="let emp of employees" [value]="emp.employee_name">
                        {{ emp.employee_name }}
                    </option>
                </select>

            </div>

            <div class="mt-8 flex items-center justify-end">
                <button type="button" class="btn btn-outline-danger"
                    (click)="SendCollectionMAil.close()">Cancel</button>
                <button type="button" (click)="submit()" class="btn btn-primary ltr:ml-4 rtl:mr-4">Save & Send
                    Quotation</button>
            </div>
        </form>
    </ng-template>
</modal>



<modal #SendCollectionMAilnew class="no-footer extra-large-modal" [closeOnOutsideClick]="false">
    <ng-template #modalHeader>
        <div class="!font-medium">Send Sales Quotation</div>
    </ng-template>
    <ng-template #modalBody>
        <div class="modal-body p-4">
        <!-- Editable Email Content -->
        <div class="email-content-display border rounded p-3" contenteditable="false"
         [innerHTML]="emailContent" style="min-height: 150px;"></div>
      </div>
    </ng-template>
</modal>