.custom-grid .e-gridheader, .custom-grid .e-rowcell, .custom-grid .headerText {
  font-size: 10px !important;

  
}
 
:host ::ng-deep .custom-grid .e-headertext {
  font-weight: 500 !important;
  text-transform: uppercase !important;
  font-size: 10px;
  
}
*{
	font-size: 10px !important;
}